*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
:root{
    --gradient:linear-gradient(45deg,rgb(243, 234, 60),rgb(224, 32, 150),rgb(182, 20, 227));
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    width:1600px;

}

#navbar{
    
    background-color: #1A0B2E;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 200px;
}
#navbar h1{
    color: #FFFFFF;
    
}
 .wave{
    background:var(--gradient);
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 } 
#navbar ul{
    list-style: none;
    display: flex;
   gap:32px;
   margin:36px 314px;
}

#navbar ul a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 16px;
}
.btn1{
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    gap:4px;
    font-weight: 600;
    border-radius: 10000px;
    background-image: linear-gradient(45deg,rgb(243, 234, 60),rgb(224, 32, 150),rgb(182, 20, 227));
  
}

.btn1 a{
    text-decoration: none;
    color:#FFFFFF;
   
       

}
ro-banner{
    position: relative;
}

.circle{
    position:absolute;
    top:180px;
    left:625px;
}
.microphn{
    position: absolute;
    top: 270px;
    left: 740px;
}
.main-footerarea{
    position: absolute;
    margin-top:-300px;
    left: 525px;
    text-align: center;
}
.hero-text h2{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
}
.hero-text p{
    font-size: 16px;
    color: #c3b6b6;
}
.main-btn{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:8px;
}
.btn2{
    padding: 12.5px 25px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    gap:8px;
    font-weight: 600;
    border-radius: 10000px;
    background-image: linear-gradient(45deg,rgb(243, 234, 60),rgb(224, 32, 150),rgb(182, 20, 227));
}
.btn2 h6{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}
.btn3{
      padding: 12.5px 24px;
      background: none;
      color:green;
      gap:8px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid green;
    border-radius: 10000px;

}
.btn3 h6{
     font-size: 16px;
      font-weight: 600;
}
.menu-podcast{
    background-color: #1A0B2E;
    width:100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 50px auto;
}
.podcast{
    width:1200px;
   padding:50px 200px 80px 200px;
    color: #FFFFFF;
    text-align: center;
   
    align-items: center;
}
.podcast h2{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
}
.podcast p{
    font-size: 16px;
    color: #c3b6b6;
    line-height: 2;

}
.cards{
    width:100%;
    background-color: #1A0B2E;
    padding:80px 200px 120px 200px;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    justify-content: center;
    text-align: center;
}
.card h2{
    font-size: 48px;
    color:#00FF88;
}
.card p{
    font-size: 16px;
    color:#c3b6b6;
    margin-top: 16px;
}
#choose{
    padding: 120px 200px;
    background-color: #230E3D;
}
.container{
    display: grid;
    grid-template-columns: ;
}




footer{
    background: url(./assets/footer-bg.png);
}