*{
    margin:0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}


:root{
    --gradient:linear-gradient(45deg,rgb(243, 234, 60),rgb(224, 32, 150),rgb(182, 20, 227));
}


.inter-font{
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



body{
    max-width: 1600px;
     background-color: #1A0B2E;
}
.horizontal{
    border: none;
    height:2px;
    opacity: 5;
    background-color: #2c322f;
}
 
header{
    background-color: #1A0B2E;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
    width:100%;

  
}
/* .header-menu{
    width:100%;
 background-color: #1A0B2E;
    display: flex;
    justify-content:space-between;
    align-items: center;
      padding: 16px 200px 16px 200px;
} */
header h2{
    color: #FFFFFF;
    font-size: 2.2rem;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap:32px;
}
.navbar ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

.wave{
    background:var(--gradient);
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 } 

.btn1{
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    gap:4px;
    font-weight: 600;
    border-radius: 10000px;
    background-image: linear-gradient(45deg,rgb(243, 234, 60),rgb(224, 32, 150),rgb(182, 20, 227));
  
}

.btn1 a{
    text-decoration: none;
    color:#FFFFFF;
}

.card-img {
  width: 100%;
  height:auto;
  object-fit: cover; 
  
}



.main-area{
    position: relative;
   
} 
.circle{
    position:absolute;
    top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.microphn{
    position: absolute;
    top:35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge{
  position: absolute;
  top:15%;
  left:57%;
  animation:moveBox 1.5s infinite alternate;

}
@keyframes moveBox{
    from{
        transform:translateX(5px);
    }
    to{
        transform:translateY(10px);
    }
}

.btn-badge{
      color: #1A0B2E;
      font-size:18px;
      font-weight: 600;
    background-color:#00FF88;
    padding: 8px 16px;
    border: none;
    border-radius: 10000px;
}

.main-footerarea{
    position: absolute;
    top:75%;
    left:50%;
    text-align: center;
      transform: translate(-50%, -50%);
}


.hero-text h2{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
}
.hero-text p{
    font-size: 16px;
    color: #c3b6b6;
    margin-top: 8px;
}


.main-btn{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:8px;
}
.btn2{
    padding: 12.5px 25px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    gap:8px;
    font-weight: 600;
    border-radius: 10000px;
    background-image: linear-gradient(45deg,rgb(243, 234, 60),rgb(224, 32, 150),rgb(182, 20, 227));
}
.btn2 h6{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}
.btn3{
      padding: 12.5px 24px;
      background: none;
      color:green;
      gap:8px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid green;
    border-radius: 10000px;

}
.btn3 h6{
     font-size: 16px;
      font-weight: 600;
}


.menu-podcast{
    background-color: #1A0B2E;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 50px auto;
}
.podcast{
    
   padding:50px 200px 80px 200px;
    color: #FFFFFF;
    text-align: center;
   
    align-items: center;
}

.podcast h2{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
}
.podcast p{
    font-size: 16px;
    color: #c3b6b6;
    line-height: 2;

}

.cards{
    background-color: #1A0B2E;
    padding:80px 200px 120px 200px;
    display: grid;
    grid-template-columns: repeat(4, 30%);
    justify-content: center;
    text-align: center;
}

.card h2{
    font-size: 48px;
    color:#00FF88;
}
.card p{
    font-size: 16px;
    color:#c3b6b6;
    margin-top: 16px;
}

#choose{
    padding: 120px 200px;
    background-color: #230E3D;
    max-width: 100%;
    margin: auto;
}

.caption{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.container{
    display: grid;
    grid-template-columns:repeat(3,33%) ;
    gap:2%;
}

.first{
    grid-row: span 2;
  
}
.forth{
    grid-column: span 2;
}

.similar{
    grid-column: span 2;
}
.box{
    background-color: #280d4c;
    border-radius: 40px;
    padding: 40px;
  

}

.box h6{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 16px;
}
.box p{
    color: #948181;
    margin-top: 16px;
    line-height: 25px;
}


.feature{
    width:100%;
    margin: auto;
    background-color:#230E3D;
    padding:120px 200px;
   

}
.feature h3{
    font-size: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
}
iframe{
    width:100%;
    border-top-left-radius: 14px;
    border:none;
   border-top-right-radius: 14px;
}


.feature-card{
    border:none;
    display: block;
    background-color: #280d4c;
    box-shadow: 10px 10px 10px solid;
     border-radius: 14px;
     height:460px;
}
.feature-info{
    padding: 10px 24px;
}
.feature-info h5{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    
}
.feature-info p{
    color: #948181;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    /* margin-top: 12px; */
    

}

.episodes{
     display:grid;
     grid-template-columns: repeat(3,33%);
     gap:30px;
}

.vdo-ft{
    display: flex;
  justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    gap:8px;
}
.vdo-ft p{
    color:#00FF88;

}

.banner{
    margin-top: 8rem;
}

.banner-card{
    width:100%;
    background-color: #280d4c;
    border: none;
    padding:40px 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap:24px;
    align-items: center;
}

.host-info h2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;


}

.host-info p{
    color:#948181;
    line-height: 24px;
    font-size: 16px;
    margin-top: 16px;
}

.social-links{
    display: flex;
    align-items: center;
    gap:20px;
    margin-top: 1rem;
}

.social-img{
    padding: 12px 12px;
      background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(111, 101, 101);
    border-radius: 50%;
    margin:0px 0px;
}


footer{
    background-image: url(./assets/footer-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width:100%;
    background-repeat: none;
    
   
}
.footer-area{
    text-align: center;
justify-content: center;
align-items: center;
padding:120px 200px;

}
.footer-area h1{
    color: #FFFFFF;
    font-size: 55px;
}
.icon-links{
    display: flex;
    justify-content:center;
    gap:20px;
}
.icons{
    display: flex;
    align-items: center;
    gap:8px;
    color: #8a8383;
    margin-top: 1.5rem;
    margin-bottom: 26px;
}
.footer-area p{
    color: #948181;
    
}

 