*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --gradient:linear-gradient(45deg,rgb(243, 234, 60),rgb(224, 32, 150),rgb(182, 20, 227));
}


.inter-font{
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



body{
    max-width: 1600px;
}
 
header{
    background-color: #1A0B2E;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
  
}
header h2{
    color: #FFFFFF;
    font-size: 2.2rem;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap:32px;
}
.navbar ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

.wave{
    background:var(--gradient);
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
 } 

.btn1{
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    gap:4px;
    font-weight: 600;
    border-radius: 10000px;
    background-image: linear-gradient(45deg,rgb(243, 234, 60),rgb(224, 32, 150),rgb(182, 20, 227));
  
}

.btn1 a{
    text-decoration: none;
    color:#FFFFFF;
}

.card-img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}

.main-area{
    position: relative;
}
.circle{
    position:absolute;
    top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.microphn{
    position: absolute;
    top:35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.badge{
  position: absolute;
  top:15%;
  left:57%;
}
.btn-badge{
      color: #1A0B2E;
      font-size:18px;
      font-weight: 600;
    background-color:#00FF88;
    padding: 8px 16px;
    border: none;
    border-radius: 10000px;
}

.main-footerarea{
    position: absolute;
    top:75%;
    left:50%;
    text-align: center;
      transform: translate(-50%, -50%);
}


.hero-text h2{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
}
.hero-text p{
    font-size: 16px;
    color: #c3b6b6;
    margin-top: 8px;
}


.main-btn{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:8px;
}
.btn2{
    padding: 12.5px 25px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    gap:8px;
    font-weight: 600;
    border-radius: 10000px;
    background-image: linear-gradient(45deg,rgb(243, 234, 60),rgb(224, 32, 150),rgb(182, 20, 227));
}
.btn2 h6{
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}
.btn3{
      padding: 12.5px 24px;
      background: none;
      color:green;
      gap:8px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid green;
    border-radius: 10000px;

}
.btn3 h6{
     font-size: 16px;
      font-weight: 600;
}


.menu-podcast{
    background-color: #1A0B2E;
    width:100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 50px auto;
}
.podcast{
    
   padding:50px 200px 80px 200px;
    color: #FFFFFF;
    text-align: center;
   
    align-items: center;
}

.podcast h2{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
}
.podcast p{
    font-size: 16px;
    color: #c3b6b6;
    line-height: 2;

}

.cards{
    background-color: #1A0B2E;
    padding:80px 200px 120px 200px;
    display: grid;
    grid-template-columns: repeat(4, 30%);
    justify-content: center;
    text-align: center;
}

.card h2{
    font-size: 48px;
    color:#00FF88;
}
.card p{
    font-size: 16px;
    color:#c3b6b6;
    margin-top: 16px;
}

#choose{
    padding: 120px 200px;
    background-color: #230E3D;
}
.container{
    display: grid;
    grid-template-columns:repeat(1 20%) ,80% ;
}
